@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background-color: #ce7e8b;
    color: #f4ede6;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: #d18b97;
    }
}

.btn-secondary {
    font-size: 14px;
    border: 1px solid #93796c60;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: #ce7e8b;
        color: #f4ede6;
    }
}

.btn-destructive {
    font-size: 14px;
    border: 1px solid #af3a00a4;
    padding: 10px 20px;
    border-radius: 8px;
    color: #af3a00;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
        background-color: rgba(255, 72, 0, 0.384);
        color: #af3a00;
    }
}

.actions {
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 8px;
    &:hover {
        background-color: #ce7e8b;
        fill: #f4ede6;
    }
}

    /* Hero Section */
.hero {
    background-image: linear-gradient(135deg, #ce7e8b, #e6b999);
    background-color: #ce7e8b;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: 'Instrument Serif', serif;
    color: #f4ede6;
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
}

.hero h6 {
    color: #f4ede6;
    font-size: 18px;
    font-weight: 200;
}

.svg-img {
    padding: 15px;
    background-color: #fff3;
    border-radius: 8px;
}

   /* Empty Section */
.hidden {
    display: none;
}

.state-empty {
    height: 50vh;
    color: #93796c;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.state-empty h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    color: #725e53;
}

.state-empty .btn-primary {
    margin-top: 15px;
}

    /* Main Content */
.content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* Nav Content */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    width: 40%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
    margin-right: 14px;
}

input::placeholder {
    color: #93796c;
}

input:focus {
    border: 2px solid #ce7e8b;
}

    /* Recipes Content */
.recipes {
    margin-top: 15px;
    width: 45.5%;
}

.card-recipe {
    border: 1px solid #93796c60;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    cursor: pointer;
    &:hover {
        background-color: #f4ede6;
    }
}

.card-recipe img {
    margin-bottom: 5px;
    width: 100%;
}

.recipe-text {
    padding: 15px;
}

.recipe-text h3 {
    font-size: 16px;
    color: #725e53;
    font-weight: 400;
}

.recipe-text p {
    font-size: 12px;
    color: #93796c;
    margin-top: 5px;
}