@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("index.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-top: 25px;
    height: 100vh;
    width: 50%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Instrument Serif', serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #725e53;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
}

input::placeholder {
    color: #93796c;
}

input:focus {
    border: 2px solid #ce7e8b;
}

.input label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field-qtt {
    width: 8%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
}

.input-field-select {
    width: 10%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
}

.input-field-ingredient {
    width: 78%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
}

.ingredientsLabel, .instructionsLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.ingredientsInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instructionsInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructionsInput p {
    font-size: 14px;
    color: #725e53;
}

.input-field-instruction {
    width: 100%;
    padding: 10px;
    border: 1px solid #93796c60;
    border-radius: 8px;
    outline: none;
}

.instructionsInput .trash {
    margin-top: 9px;
}

.instructions {
    margin-bottom: 20px;
}

.button-save-cancel {
    display: flex;
    justify-content: space-between;
}

.save-recipe {
    width: 87%;
}

.ingAdd {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.ingredient-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f4ede6;
    padding: 2px 15px;
    font-size: 14px;
    color: #93796c;
    border: 1px solid #93796c60;
    border-radius: 8px;
    margin-top: 3px;
}

.ingAdd button, .instAdd button {
    border: none;
}

.addTrash {
    border-radius: 8px;
    padding: 5px;
    &:hover {
        background-color: #ce7e8b;
        fill: #f4ede6;
    }
}